alembic==1.2.1
antiorm==1.2.1
automium==0.2.6
automium-web==0.1.1
Click==7.0
db==0.1.1
Flask==1.1.1
Flask-Migrate==2.5.2
Flask-MySQL==1.4.0
Flask-SQLAlchemy==2.4.1
itsdangerous==1.1.0
Jinja2==2.10.1
legacy==0.1.6
Mako==1.1.0
MarkupSafe==1.1.1
mysql==0.0.2
mysqlclient==1.4.4
pybald-routes==2.11
PyMySQL==0.9.3
python-dateutil==2.8.0
python-dotenv==0.10.3
python-editor==1.0.4
repoze.lru==0.7
Routes==2.4.1
six==1.12.0
SQLAlchemy==1.3.8
Werkzeug==0.16.0
